* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#product-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: blue;
}

.card {
padding: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;
border-radius: 20px;
background-color: #ffffff;
}


.card h3 {
text-align: center;
}

.card p {
text-align: center;
}

.card button {
padding: 1vh 1vw;
border-radius: 10px;
background-color: black;
color: #ffffff;
font-weight: bold;
cursor: pointer;
}


.card img{
width: 200px;
height: 200px;
object-fit: contain; 
object-position: center;
margin: auto;
}