* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.gallery {
  padding: 20px;
  max-width: 900px;
  margin: 40px auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
  border: 4px solid #000;
}

.gallery div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 4px solid #000;
  border-radius: 10px;
}

/* Responsive */
@media (max-width: 560px) {
  .gallery div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
